.feature-item {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin: auto;

    width: 100vw;
    height: 450px;
    padding: 20px;
}

.feature-item h1 {
    font-size: 3em;
}

.feature-item h2 {
    font-weight: 100;
    font-size: 1.5em;
}

#txt {
    width: 35vw;
}

.feature-item img,
.feature-item video {
    width: 400px;
}

@media (max-width: 700px) {
    .feature-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;

        width: 100vw;
        height: 450px;
        padding: 10px;
    }

    #txt {
        text-align: center;

        width: 90vw;
    }

    .feature-item h1,
    h2 {
        font-size: 2em;
    }

    .feature-item video {
        width: 300px;
    }

}