button {
    cursor: pointer;
}

#bg,
#gradient {
    position: absolute;

    width: 100vw;
    height: 90vh;
}

#bg {
    background-size: contain;
    background-position: center top;

    z-index: -2;

    filter: brightness(40%);
    background-image: url('../imgs/bg.jpg');
}

#gradient {
    z-index: -1;

    background-image: linear-gradient(to bottom, #000000, transparent, transparent 20%, transparent, #00000083);
}

#sec1 {
    color: #ffffff;
    font-family: netflix;

    width: 100vw;
    height: 90vh;
}

#logo {
    width: 200px;
}

nav #navitens {
    display: flex;
    align-items: center;

    padding: 20px;
}

#navbtns {
    position: absolute;

    margin-right: 50px;
    right: 0;
}

#navbtns select,
#navbtns button {
    font-size: 15px;
    padding: 8px 18px;
}

#navbtns select {
    background-color: rgba(0, 0, 0, 0.418);
    color: white;

    margin-right: 20px;
}

#navbtns select option {
    background-color: gray;
}

#navbtns button {
    background-color: var(--NetRed);
    color: white;
    border: none;

    border-radius: 3px;
}


#main-content {
    text-align: center;
    margin: auto;
    width: fit-content;

    margin-top: 50px;
    max-width: 700px;
}

#main-content h1 {
    font-size: 4em;
}

#main-content h2,
h3 {
    margin: 20px;
    font-weight: 100;

    font-family: Arial, Helvetica, sans-serif;
}

#main-content h2 {
    font-size: 1.5em;
}

#main-content h3 {
    font-size: 1em;
}

#input-email {
    display: flex;
    margin: auto;
}

#input-email #email-label {
    position: absolute;
    cursor: text;
    font-size: 15px;

    padding-left: 12px;

    transform: translateY(15px);
    transition: 0.2s;
    color: #8c8c8c;
}

#input-email #email {
    width: 70%;
    height: 50px;
    padding: 10px 10px 0px;
    font-size: 15px;
}

#desktop,
#mobile {
    background-color: var(--NetRed);
    color: white;
    font-family: netflix;
    border: none;

    width: 30%;
    font-size: 26px;
}

#mobile {
    display: none;
}

@media (max-width: 700px) {
    #bg {
        background-size: cover;
    }

    #logo {
        width: 100px;
    }

    #navbtns {
        padding: 10px 10px;
    }

    #navbtns,
    #navbtns select {
        margin-right: 10px;
    }

    #navbtns select,
    #navbtns button {
        padding: 5px 10px;
    }


    #main-content {
        margin-top: 50px;
        max-width: 90vw;
    }

    #main-content h1 {
        font-size: 1.7em;
    }

    #main-content h2,
    h3 {
        font-size: 1em;
    }

    #input-email #email {
        width: 100vw;
    }

    #mobile {
        display: block;
        margin: auto;

        width: 140px;
        height: 40px;
        margin-top: 20px;
        font-size: 1em;
    }

    #desktop {
        display: none;
    }
}